<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <!-- Tailwind CSS CDN link -->
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    {% comment %} {% extends "account/base_manage.html" %} {% endcomment %}
    {% load allauth i18n %}
    {% block content %}
    <div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-md shadow-md">
        <h1 class="text-2xl font-semibold text-gray-800 text-center mb-4">
            {% trans "Sign Out" %}
        </h1>
        <p class="text-gray-600 text-center mb-6">
            {% trans 'Are you sure you want to sign out?' %}
        </p>
        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            <div class="flex justify-center">
                <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                    {% trans 'Sign Out' %}
                </button>
            </div>
        </form>
    </div>
    {% endblock content %}
</body>
</html>
